<div class="field">
  <%= f.text_field :name, placeholder: 'Name', class: "friendfield friendfieldname" %>
  <%= f.text_field :number, placeholder: 'Phone #', class: "friendfield friendfieldnumber" %>

  <%= link_to_remove_association "X", f %>

</div>
